.category {
  width: 250px;
  height: 250px;
  background-color: #f3f3f3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.category img {
  width: 100px;
  max-height: 250px;
  object-fit: contain;
  padding: 0px 10px;
}

.category a {
  text-decoration: none;
  color: rgb(35, 35, 35);
}

.category h2,
.category p {
  padding: 5px;
  margin-left: 15px;
}

.category p {
  color: rgb(9, 132, 209);
  font-size: 12px;
  font-weight: bold;
}
