*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #febd69;
    --primary-shade: #d49644;
}
body {
  font-family: Arial;
  background-color: #fff;
  color: #111;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}
